button {
    background-color: #ff8017;
    color: white;
    padding: 19px;
    border: hidden;
    border-radius: 10px;
    margin: 20px 0;
}

.text-blue {
    color: #006cbb;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

#card {
    border: 1px solid black;
    padding: 20px;
    width: 15%;
}

.bg-img {
    background-image: url('https://arkademi.com/_next/static/media/bg-container.ebe0c1e0.webp');
    height: 300px;
    max-height: 350px;
    min-height: 250px;
    padding: 30px;
    width: 700px;
    min-width: 500px;
    max-width: 800px;
}

.bg-img2 {
    background-image: url('https://arkademi.com/_next/image?url=https%3A%2F%2Fd19izmiuoyzsz.cloudfront.net%2Fimages%2FeI9xHxDDVreErThOGCrouqFHSe5XB8wxrQRGK1ak.png&w=48&q=75');
    height: 300px;
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-flower {
    width: 100px;
    height: 70px;
    filter: blur(2px);
    transition: width 2s, height 2s, transform 2s;
}

.img-flower:hover {
    width: 500px;
    height: 350px;
    transform: rotate(180deg);
}

.kotak {
    /* width: 100px;
            height: 70px; */
    background-color: #ff8017;
    /* transition: width 2s, height 2s, transform 2s, background-color 2s; */
    /* transition-delay: 2s; */
    animation: animasiKotak 2s ease 0s alternate forwards running;
}

/* .kotak:hover{
            width: 500px;
            height: 350px;
            transform: rotate(180deg);
            background-color: #006cbb;
        } */

.d-flex {
    display: flex;
    align-items: center;
}

.container {
    padding: 0 5rem;
    margin: 3rem 0;
}

.d-flex>img {
    margin-right: 20px;
}

@keyframes animasiKotak {
    from {
        width: 100px;
        height: 70px;
    }

    to {
        width: 500px;
        height: 350px;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 0 1rem;
        margin: 1rem 0;
    }

    .container>div>img {
        display: none;
    }

    button {
        width: 100%;
    }
}
